.swal2-popup{
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    /* background-color: #F5F5F5; */
    background-color: #000B28 !important;
    border-radius: 10px;
    color: white !important;
}

.swal2-title {
    background: linear-gradient(90.17deg, rgba(255, 255, 255, 0.9) 2.49%, rgba(51, 153, 153, 0.9) 31.87%, rgba(255, 153, 51, 0.702) 48.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}